<div class="bio">
    <div class="terminal">
        [mark@internets ~]$<span class='toggle'>_</span>
    </div>
    <a href='/'>
    <img class="bio-avatar" src='/photo.jpg'
        alt="<?js vars._site.author.name ?>" width='75' height='75'>
    </a>
    <h1><a href='/'><?js vars._site.author.name ?></a></h1>
    
    <p> <?js vars._site.author.summary || '' ?>
    </p>
</div>
