<main>
    <article class="blog-post" itemscope="" itemtype="http://schema.org/Article">
        <header>
            <p class="date-wrapper">Published: <span><?js t(vars.post.preamble.date) ?></span></p>
            <h1 itemprop="headline"><?js vars.post.preamble.title ?></h1>
        </header>

        <section class="markdown-content" itemprop="articleBody">
            <?js vars.post.rendered ?>
        </section>
    </article>

    <nav class="blog-post-nav">
        <ul style="display: flex; flex-wrap: wrap; justify-content: space-between; list-style: none; padding: 0px;">
            <?js '' + (vars.post.prev ? `<li>
                <a rel="prev" href="${linkTo(vars.post.prev.url)}">←  ${vars.post.prev.preamble.title}</a>
            </li>` : '') +
            (vars.post.next ? `
            <li>
                <a rel="next" href="${linkTo(vars.post.next.url)}">${vars.post.next.preamble.title} →</a>
            </li>` : '') ?>
        </ul>
    </nav>
</main>
