<div class="sidebar">
    <?js render('views/bio.html', vars) ?>
    <nav>
        <!-- 
    <ul>
        <li><a href='/' class="<?js vars.route == '/' ? 'active' : ''?>">About</a></li>
        <li><a href='/posts/' class="<?js vars.route.startsWith('/posts') ? 'active' : ''?>">Articles</a></li>
        <li><a href='/knowledge/' class="<?js vars.route.startsWith('/knowledge') ? 'active' : ''?>">Knowledge</a></li>
        <li><a href='/cv/' class="<?js vars.route.startsWith('/cv') ? 'active' : ''?>">CV</a></li>
    </ul>
    -->

    <a href='/' class="<?js vars.route == '/' ? 'active' : ''?>">About</a>
    <a href='/posts/' class="<?js vars.route.startsWith('/posts') ? 'active' : ''?>">Blog</a>
    <a href='/knowledge/' class="<?js vars.route.startsWith('/knowledge') ? 'active' : ''?>">Knowledge</a>
    <a href='/cv/' class="<?js vars.route.startsWith('/cv') ? 'active' : ''?>">CV</a>
    </nav>

    <section class="web">
    <a href='https://www.linkedin.com/in/mark-watkinson-7439a61b6/' title="Add me on LinkedIn"><span style="display: none">LinkedIn</span><i class="fab fa-linkedin-in"></i></a>
    <a href='mailto:mark@markwatkinson.com' title="Email me"><span style="display:none">Email</span><i class="fas fa-envelope"></i></a>
    </section>

    <footer>
    © All rights reserved.
    </footer>


</div>
