<main>
    <article class="blog-post wiki-post" itemscope="" itemtype="http://schema.org/Article">
        <header>
            <p class="date-wrapper">Last updated: <span><?js t(vars.post.preamble.lastUpdated) ?></span></p>
            <h1 itemprop="headline"><?js vars.post.preamble.title ?></h1>
        </header>

        <section class="markdown-content" itemprop="articleBody">
            <?js vars.post.rendered ?>
        </section>
    </article>
</main>
