.cv {

    font-size: 1rem;

    .email {
        text-align: right; 
    }

    article {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    h2 {
        border-bottom: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    h3 {
        margin-top: 0.5em;
    }

    ul, ol {
        padding-left: 0;
        list-style-position: outside;
        margin-left: 1em;
    }

    hr {
        border: 0;
        border-bottom: 1px dashed #ccc;
        background: #999;
    }

    .contact {
        display: block;
    }

    .duration {
        font-style: italic;
        float: right;
    }

    .title {
        font-weight: bold;
    }

    .company {
        font-size: 100%;
    }

    #head {
        background: #3e3e3e;
        color: #fff;
        margin-bottom: 1em;
    }

    #head .sub {
        font-size: larger;
    }

    #head .inner {
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
    }

    #skills p {
        padding: 0;
        margin: 0;
    }

    .history .left {
        flex-grow: 0;
        flex-basis: 200px;
    }

    .history .left span {
        display: block;
        white-space: nowrap;
    }

    .history .row:not(:last-child) {
        border-bottom: 1px solid #888;
        margin-bottom: 1em;
    }

    .history.row p:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .history ul, 
    #other ul {
        list-style-position: outside;
        margin-left: 1em;
    }

    #other ul {
        margin-left: 2em;
    }

    #education p {
        margin-top: 1rem;
    }

    #education .left {
        flex-grow: 0;
        flex-basis: 200px;
    }

    #education .classification, #education .location {
        display: block;
    }
    @media screen and (max-width: 500px)  {
        .col {
            flex-basis: 100%;
        }
    }
}

