.blog-post {

    .no-header-count {
        h2, h3, h4, h5, h6 {
            counter-increment: none;
            counter-set: none;
            &::before {
                content: "";
                margin: 0;
            }
        }
    }

    h2 {
        font-size: 115%;
        line-height: 200%;;
        color: var(--color-primary);
        border-bottom: 1px solid var(--color-light);
        counter-increment: h2-section;
        counter-set: h3-section h4-section h5-section h6-section;
        &::before {
            color: var(--color-light);
            content: counter(h2-section);
            margin-right: 1em;
        }
    }
    h3 {
        font-size: 110%;
        color: var(--color-secondary);
        margin-left: 1em;
        counter-increment: h3-section;
        counter-set: h4-section h5-section h6-section;
        &::before {
            color: var(--color-light);
            content: counter(h2-section) "." counter(h3-section);
            margin-right: 1em;
            font-style: italic;
        }
    }
    h4 {
        font-size: 105%;
        color: var(--color-tertiary);
        margin-left: 2em;
        counter-increment: h4-section;
        counter-set: h5-section h6-section;
        &::before {
            color: var(--color-light);
            content: counter(h2-section) "." counter(h3-section) "." counter(h4-section); 
            margin-right: 1em;
            font-style: italic;
        }
    }

    h5 {
        font-size: 105%;
        color: var(--color-tertiary);
        margin-left: 2em;
        counter-increment: h5-section;
        counter-set: h6-section;
        &::before {
            color: var(--color-light);
            content: counter(h2-section) "." counter(h3-section) "." counter(h4-section) "." counteer(h5-section); 
            margin-right: 1em;
            font-style: italic;
        }
    }

    h6 {
        font-size: 105%;
        color: var(--color-tertiary);
        margin-left: 2em;
        counter-increment: h6-section;
        &::before {
            color: var(--color-light);
            content: counter(h2-section) "." counter(h3-section) "." counter(h4-section) "." counteer(h5-section) "." counteer(h6-section);; 
            margin-right: 1em;
            font-style: italic;
        }
    }

    a[href^=http]::after {
    
        content: "";
        width: 11px;
        height: 11px;
        margin-left: 4px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
    }

    .date-wrapper {
        font-size: 90%;
        text-align: right;
        span {
            font-weight: bold;
        }
    }

    ul { 
        padding-left: 1em;
    }

    pre.raw {
        max-width: 100%;
        overflow: auto;
    }

    .contents {
        border-top: 1px solid var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
        margin-bottom: 1.5em;

        $base_width: 1em;
        $inc_width: 0.75em;

        &::before {
            content: "Contents";
            font-weight: bold;
            font-size: 110%;
        }
        ul { 
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
           
            list-style: none;
        }

        li {
            counter-increment: l1-section;
            counter-set: l2-section;

            &::before {
                content: counter(l1-section); 
                margin-right: 1em;
                display: inline-block;
                min-width: $base_width + ($inc_width * 0);
            }
        }
        li li {
            counter-increment: l2-section;
            counter-set: l3-section;
            &::before {
                content: counter(l1-section) "." counter(l2-section);
                min-width: $base_width + ($inc_width * 1);
            }
        }
        li li li {
            counter-increment: l3-section;
            counter-set: l4-section;
            &::before {
                content: counter(l1-section) "." counter(l2-section) "." counter(l3-section);
                min-width: $base_width + ($inc_width * 2);
            }
        }
        li li li li {
            counter-increment: l4-section;
            counter-set: l5-section;
            &::before {
                content: counter(l1-section) "." counter(l2-section) "." counter(l3-section) "." counter(l4-section);
                min-width: $base_width + ($inc_width * 3);

            }
        }
        li li li li li {
            counter-increment: l5-section;
            counter-set: l6-section;
            &::before {
                content: counter(l1-section) "." counter(l2-section) "." counter(l3-section) "." counter(l4-section) "." counter(l4-section);
                min-width: $base_width + ($inc_width * 4);
            }
        }
        li li li li li li {
            counter-increment: l6-section;
            &::before {
                content: counter(l1-section) "." counter(l2-section) "." counter(l3-section) "." counter(l4-section) "." counter(l4-section) "." counter(l5-section);
                min-width: $base_width + ($inc_width * 5);
            }
        }
    }

    .chart-container {
        background: #fff;
        padding: 1em;
        border-radius: 1em;
    }
    .chart-container + .chart-container {
        margin-top: 1em;
    }

    .data-table > table, 
    table.data-table {
        th {
            // text-align: left;
        }

        td.numeric {
            text-align: right;
        }

        td {
            border-width: 0;
            border-style: solid;
            border-color: var(--color-accent);
            border-right-width: 1px;
            padding: 0 0.25em;
        }
        td:last-child {
            border-right-width: 0;
        }

        tbody tr:nth-child(2n) {
            background-color: var(--color-accent);
        }

        border-bottom: 1px solid var(--color-accent);


    }

    .warning {
        border: 1px solid var(--color-primary);
        background-color: var(--color-warning);
        padding: 1em;
        text-align: center;
        font-weight: bold;
        p {
            margin :0 ;
        }
    }

    .mono {
        font-family: var(--fontFamily-mono);
    }

    .floating-container::after {
        clear: both;
        display:block;
        content: "";
    }
    .with-floating {
        float: left;
        width: 55%;
    }
    aside.floating {
        float: right;
        width: 40%;
        margin-left: 1rem; 
        background-color: var(--color-background-contrast);
        color: var(--color-background-contrast-text);
        border: 1px solid var(--color-background-contrast-text);
        border-radius: 0.25rem;
        padding: 1rem;
    }

    @media screen and (max-width: ($mobile_breakpoint - 1)) {
        aside.floating {
            float: none;
            width: 80%;
            margin: 0 auto;
        }
        .with-floating {
            float: none;
            width: 100%;
        }
    }
}
