@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://ka-f.fontawesome.com/releases/v5.15.4/css/free.min.css?token=df9e12ef71');


$buttons-padding-top: 0.25em;
$buttons-margin-h: 0.5em;


:root {
    --fontFamily-sans: Exo\ 2,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue;    
    --fontFamily-mono:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    --font-body: var(--fontFamily-sans);
    --font-heading: var(--fontFamily-sans);
    --color-text: #222;
    --color-text-light: #888;
    --color-heading-black: black;
    --color-accent: #d1dce5;

    --color-background: #fff;

    --color-light: #888;
    --color-very-light: #aaa; 

    --color-primary: #fc2f00;
    --color-secondary: #c200fb;
    --color-tertiary: #ec0868;
    --color-quaternary: #ec7d10;
    --color-quinary: #ffbc0a;
    --color-warning: #f54542;

  }

  .theme-rainbow {

    --color-background: #060913;
    --color-text: #fff;

    --color-primary: #1585b1;
    --color-secondary: #8729bc;
    --color-tertiary: #821054;
    --color-quaternary: #b61d15;
    --color-quinary: #e0aa0c;
  }

  .theme-dark {

    --color-background: #292b28;
    --color-text: #fff;

    --color-background-contrast: #b4aaac;
    --color-background-contrast-text: #292b28;

    --color-primary: #E37281;
    --color-secondary: #E1DD8F;
    --color-tertiary: #B3B7EE;
    --color-quaternary: #FBF9FF;
    --color-quinary: #6E44FF;

    --color-heading: var(--color-secondary);
    --color-accent: #484c4f;
    --color-warning: #602222;


    a[href^=http]::after { 
        filter: invert(1);
    }


  }

  .theme-light {
    --color-background: #fff;
    --color-text: #111;

    --color-background-contrast: #aaafb4;
    --color-background-contrast-text: #292b28;

    --color-light: #888;
    --color-very-light: #aaa;

    --color-primary: #fc2f00;
    --color-secondary: #c200fb;
    --color-tertiary: #ec0868;
    --color-quaternary: #ec7d10;
    --color-quinary: #ffbc0a;
    --color-warning: #e8c2c2;
  }
  

.gradiented-text {
    background: linear-gradient(to top right, var(--color-primary), var(--color-secondary));
    background-clip: text;
    --webkit-background-clip: text;
    color: transparent;
}

@keyframes pop-in {
    0% { transform: scale(1); }
    25% { transform: scale(0.5); }
    75% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes wobble-in {
    0% { opacity: 0; transform: rotate(0deg); }
    10% { opacity: 1; transform: rotate(-10deg); }
    20% { opacity: 1; transform: rotate(10deg); }
    30% { opacity: 1; transform: rotate(-7deg); }
    40% { opacity: 1; transform: rotate(7deg); }
    50% { opacity: 1; transform: rotate(-5deg); }
    60% { opacity: 1; transform: rotate(5deg); }
    70% { opacity: 1; transform: rotate(-3deg); }
    80% { opacity: 1; transform: rotate(3deg); }
    100% { opacity: 1; transform: rotate(0deg); }
}

html {
    background-color: var(--color-background);
    color: var(--color-text);
}

body,h1,h2,h3,h4,h5,h6 {
    //font-family: Exo\ 2,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue;
}

body {
    margin: 0;
    padding: 0;
}

body.sidebar-overlay {
    @extend .no-scroll;
}


.wobble-in {
    animation: wobble-in 0.75s;
    display: inline-block;
}

.pop-in {
    animation: pop-in 0.5s;
    display: inline-block;

}

main {
    padding-bottom: 2em;
}


h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    font-weight: bold;
}

h1 {
    color: var(--color-primary);
    text-align: center;
}

.no-scroll { 
    overflow: hidden;
  }


img {
    image-rendering: -webkit-optimize-contrast;
}

table {
    width: 100%;
}

ol {
    margin-left: 1rem;
}


a {
    @extend .gradiented-text;   
    font-weight: bold;

    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--color-secondary);
    }
}

@for $i from 1 through 20 {
    .width-#{$i * 5} {
        width: #{$i * 5 + "%"};
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.top-buttons {

    position: fixed;
    z-index: 2;
    left: $buttons-margin-h;
    top: $buttons-padding-top;
    padding: 0 var(--spacing-5);
    display: grid;
    grid-template-columns: auto auto;
        align-content: space-between;
    justify-content: space-between; 
    width: calc(100% - $buttons-margin-h * 2);
    transition: all 0.25s ease-in-out;
    border-radius: 0.25em;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
}

@media screen and (max-width: ($mobile_breakpoint - 1)) {
    .scroll-20:not(.sidebar-overlay) .top-buttons {
        //background-color: red;
        border-color: var(--color-primary);
        background-color: var(--color-background);    
    }
}

.top-buttons > button {
    cursor: pointer;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
    float: right;
    border: none;

    background-color: transparent;
    svg {
        width: 100%;
        height: 100%;
        transition: transform 0.1s ease-in-out;
    }
}

.theme-dark {
    .top-buttons {
        svg {
            color: #fff;
        }
    }
}
.theme-light {
    .top-buttons  {
        svg {
            color: var(--color-text);
        }
        #nightModeToggle svg {
            transform: rotate(180deg);
        }
    }
}

.sidebar {
    text-align: center;
    
    nav {
        ul {
            list-style: none;
        }
        display: inline-flex;
        flex-direction: column;
        a {
            flex: 1 1 auto;
            color: var(--color-primary);
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            &.active {
                text-decoration: underline;
                text-decoration-color: var(--color-primary);
                position: relative;

                $spacing: 1.0em;
                &::before, &::after {
                    position: absolute;
                    font-weight: bold;
                }
                &::before {
                    content: "› ";
                    left: -1 * $spacing;
                }
                &::after {
                    content: " ‹";
                    right: -1 * $spacing;
                }
            }
        }
        margin-bottom: 1em;
    }
    .web {
        text-align: center;
        a {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            font-size: 1.25rem;         
            padding: 0.05rem;
            width: 40px;
            height: 40px;
            display: inline-block;

            svg {
                color: var(--color-tertiary);
            }

            i {
                $width: 10px;
                line-height: $width;
                font-size: 20px;
                vertical-align: middle;
                padding-left: 1px;
            }
        }
    }
}

.sidebar-overlay #hamburger svg {
    transform: rotate(180deg);
}

.sidebar {
    position: fixed;
    // display: none;
    background-color: var(--color-background);
    z-index: 1;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    transition: margin-left 0.25s ease-in-out;
    margin-left: -100%;
    width: 80%;
    border-right: 1px solid var(--color-light)
}
.sidebar.show {
    margin-left: 0;
    padding-top: $buttons-padding-top * 2;
    display: block;
}

@media screen and (min-width: $mobile_breakpoint) {
    :root {
        --split: 75%;
    }

    main {
        float: left;
        width: var(--split);
        margin-left: 1.25rem;    
        padding-left: 1rem;
        border-left: 1px solid var(--color-very-light);
    }
    .sidebar {
        float: left;
        width: calc((100% - var(--split)) - 1.25rem);
        position: relative;
        display: block;
        margin-left: 0;
        border: none;
    }

    .top-buttons {
        display: block;
        left: auto;
        right: $buttons-margin-h;
        //border-color: transparent;
        // background-color: transparent;
        width: auto;
    }

    #hamburger {
        display: none;
    }
}

@keyframes toggle {
    from { opacity: 100% }
    to { opacity: 0; }
  }

.terminal {
    cursor: default;
    font-family: var(--fontFamily-mono);
    .toggle {
        animation-name: toggle;
        animation-duration: 1s;
        animation-timing-function: steps(2, jump-none);
        animation-iteration-count: infinite;
        animation-play-state: running;
    }
}

.bio {
    font-size: 16px;
    display: block;
    color: var(--color-light);
    h1, h2 {
        font-size: 110%;
        margin: 0;
        margin-top: 1em;
        padding: 0;
        line-height: 100%;
    }
    img {
        display: block;
        margin: 1em auto;
        max-width: 75px;
    }
    p {
        margin-top: 1em;
    }
    margin-bottom: 0;
}

footer {
    text-align: center;
    color: var(--color-light);
    font-size: 90%;
}


.hello-page {
    text-align: center;
    color: var(--color-light);
    h1 {
        margin-top: 0em;
        span {
            @extend .gradiented-text;
            @extend .wobble-in;
        }
    }

    h2 {
        color: var(--color-tertiary);
        // @extend .gradiented-text;
        font-size: 250%;
        font-weight: bold;
        text-align: center;
        padding: 0.25em 0;
    }

    h3 {
        text-align: center;
        color: var(--color-primary);
    }


    h2, h3 {
        margin-top: 20px;
    }

    .lang {
        font-weight: bold;;
        font-size: 110%;
        color: var(--color-light);
    }

    .larger {
        font-size: larger;
    }

    .monty {
        max-width: 75%; 
        margin: 1em auto 0 auto; 
        border-radius: 2em;
        display: block;
    }
}

.markdown-content {
    p {
        line-height: 1.625rem; 
        margin-bottom: 1.625rem;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}


code[class*="language-"].prism {
    white-space: normal;
}


@import 'cv.scss';
