<main>
        <article class='cv'>
            <h1>Mark Watkinson</h1>
            <section id='' class='full-width'>
            <div class='inner'>
                <div class='contact email'><i class="far fa-envelope"></i> mark@markwatkinson.com</div>
            </div>
        </section>
        <section id='summary'>
            <header> <h2> Summary </h2> </header>
            <p> Senior full stack software developer with over 10 years experience, open to opportunities on a fully remote basis.</p>
        </section>
        <section id='skills'>
            <header> <h2> Skills </h2> </header>
            <div class='container'>
                <div class='row'>
                    <div class='col'>
                        <ul>
                            <li>C#, ASP.NET, MVC, including Entity Framework and NHibernate</li>
                            <li>MS SQL, MySQL, ElasticSearch</li>
                            <li>JavaScript, TypeScript, Node.js, AngularJS &amp; Angular </li>
                            <li>HTML, CSS (including SASS + Less)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id='employment' class='history'>
            <header> <h2> Employment History </h2> </header>
            <div class='container'>
                <div class='row'>
                    <div class='col left'>
                        <span class='duration'>2019 &mdash; Present</span>
                        <h3 class='company'>Folding Space</h3>
                        <span class='title'>Senior Software Developer</span>
                    </div>
                    <div class='col right'>
                        <p>C#, MySQL and Elasticsearch full stack development of a complex document management application, handling large repositories (e.g. Terabytes) of unstructured text from documents, emails, images etc, with a focus on managing and understanding the existence of personally identifiable data within the repository.</p>
    <ul>
        <li>Developed various processes and features for analysing data, such as:
            <ul>
                <li>
                Linking and searching documents by the people referenced within,
                </li>
                <li>Customisable dashboards visualising the makeup of the document repositories.</li>
            </ul>
        </li>
        <li>
            Wide ranging front and back end development, across .NET (MVC, Core and Windows services) and single page applications, including:
            <ul>
                <li>Improved system reliability and performance by, for example, minimising various SQL deadlocking scenarios and switching slow ORM queries to hand written queries.</li>
                <li>Implemented front end accessibility to WCAG2.1 standards.</li>
                <li>Integrating with external systems through their APIs, e.g. using OneDrive's REST API to retrieve externally hosted documents</li>
            </ul>

        </li>

    </ul>
                    </div>
                </div>
                <div class='row'>
                    <div class='col left'>
                        <span class='duration'>2012 &mdash; 2019</span>
                        <h3 class='company'>Blueberry Consultants</h3>
                        <span class='title'>Software Developer</span>
                    </div>
                    <div class='col right'>
                        <p>Being the sole permanent developer at Blueberry Consultants, I took a lead role on many
                            of the projects I was involved with.</p>
                        <p>Lead developer on a cross platform mobile app (using Ionic Framework
    and AngularJS), API and web-based order management system for
    ordering prescriptions, integrated with various NHS APIs. Launched in
    2016 with no existing users and grew to ~100 orders per day within two
    years. Alongside development, I handled web deployments to various
    development, test and live environments using continuous integration
    (Jenkins) and planned and executed necessary migrations.</p>
    <p>Lead developer on a browser based multi-user PDF annotator.
    Developed a rich touch interface for placing and editing annotations
    (text, shapes, lines and images), and bi-directional live sync via web-sockets, with tolerance for short network outages. Supported by a
    Node.js based HTTP server with a Java based process to manipulate
    PDFs.</p>
    <p>Rescued several failing projects that had been given to off-shore
    development teams; one was a native iOS app and the other a cross
    platform app developed using NativeScript and Angular. Both involved
    diagnosing and fixing severe stability and performance issues, which
    allowed the successful delivery of these projects.</p>
    <p>Several web-based CRUD applications using C#, SQL Server, ASP.NET,
    WebAPI, TypeScript, AngularJS and Angular and KendoUI.</p>
    <p>As well as development, I also spent part of my time guiding and
    teaching junior developers</p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col left'>
                        <span class='duration'> 2011 &mdash; 2012 </span>
                        <h3 class='company'>Jones and Palmer </h3>
                        <span class='title'> Software Developer </span>
                    </div>
                    <div class='col right'>
                        <p>
                        Developed Umbraco (a .NET CMS) based sites displaying investor relations materials (annual reports, etc).
                        </p>
                        <ul>
                            <li>
                                Front and back end development (HTML, CSS, JavaScript, C#.NET and XSLT)
                            </li>
                            <li>
                                Created a graphing library allowing CMS users to input data and dynamically create graphs
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id='other'>
            <header> <h2> Other </h2> </header>
            <ul>
                <li>
                    <a href='https://solvercs.asgaard.co.uk'>SolverCS</a>, a crossword solver for Android with ~150 daily users.
                </li>
                <li>
                    Several contributions to open source software:
                    <ul>
                        <li>
                            Implemented album artwork functionality in Clementine (a music player written in C++/Qt4)
                        </li>
                        <li>
                            Developed my own project, Luminous (a syntax highlighting engine written in PHP)
                        </li>
                    </ul>
                </li>
            </ul>
            <p>In my spare time, I enjoy running, playing guitar, and growing carnivorous plants.</p>
        </section>
        <section id='education' class='history'>
            <header> <h2> Education </h2> </header>
            <div class='container'>
                <div class='row'>
                    <div class='col left'>
                        <!-- <span class='duration'>2008 &mdash; 2009</span> -->
                    </div>
                    <div class='col right'>
                        <span class='title'> MSc Computer Science </span>
                        <span class='classification'>Distinction, Best Overall Student</span>
                        <span class='location'>Coventry University</span>
                        <p>
                            For my thesis, I developed a C++ real-time ragdoll-physics character animation library capable of blending key-frame animation sources with physics simulation, and an OpenGL based demo application.
                        </p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col left'>
                        <!-- <span class='duration'>2005 &mdash; 2008</span> -->
                    </div>
                    <div class='col right'>
                        <span class='title'>BSc Mathematics and Computing </span>
                        <span class='classification'>Upper second class</span>
                        <span class='location'>Coventry University</span>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
