<main class='hello-page'>
    <h1><span>Hi there, I'm Mark</span></h1>
    <p>I'm an avid runner, who enjoys growing carnivorous plants and playing the guitar.</p>
    <h2 class='large'>I'm also a full stack software developer, </h2>
    <p><span>specialising in <span class='lang'>C#</span>, <span class='lang'>.NET</span>,
    and <span class='lang'>Angular</span>,
    but I have at least a passing familiarity with most web and some mobile technologies.</span></p>
  <h3>Interested in speaking to me?</h3>
  <p>Feel free to get in touch using mark@markwatkinson.com, or you may wish to view my <a href='/cv/'>CV</a>.</p>
  <p>Thanks for reading this far, here's a picture of my dog: 
  <img src='media/monty.jpg' alt="Best little dog in the whole wide world" title="Best little dog in the whole wide world" class="monty"></p>
</main>
