<main>
<?js

    `<ol class="posts">` +
    vars.posts.map(post => `
        <li class='post'>
            <article
                    class="post-list-item"
                    itemScope
                    itemType="http://schema.org/Article">
                <header>
                    <h2>
                        <a href='${linkTo(post.preamble.slug)}' itemProp="url">
                            <span itemProp="headline">${post.preamble.title}</span>
                        </a>
                    </h2>
                    <small>${t(post.preamble.date)}</small>
                </header>
                <section>
                    <p itemProp="description">${post.preamble.description || ''}</p>
                </section>
            </article>
        </li>
    `).join('') +
    `</ol>`;

?>
</main>
